/* Write your CSS here */
.app-container {
  background-image: linear-gradient(#fbc7d4, #9796f0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .app-container {
    height: 100vh;
  }
}
.appointments-container {
  background-color: white;
  width: 90%;
  border-radius: 10px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .appointments-container {
    padding: 40px;
  }
}
.heading {
  font-size: 26px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 36px;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  .user-input-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .form-container {
    width: 35%;
  }
}
.title-input {
  font-size: 19px;
  margin-bottom: 16px;
  height: 35px;
  outline: none;
  border: 2px solid #b5b7c4;
  padding-left: 10px;
  border-radius: 5px;
}
.date-input {
  font-size: 19px;
  margin-bottom: 16px;
  height: 35px;
  outline: none;
  border: 2px solid #b5b7c4;
  padding-left: 10px;
  border-radius: 5px;
}
.add-button {
  width: 70px;
  align-self: flex-start;
  background-color: #8b5cf6;
  color: white;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
}
.appointments-image {
  display: none;
}
@media screen and (min-width: 768px) {
  .appointments-image {
    display: block;
    width: 45%;
    max-width: 500px;
  }
}
.appointments-list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-heading {
  font-size: 24px;
  font-weight: 500;
}

.starred-button {
  color: #8b5cf6;
  width: 75px;
  padding: 3px;
  outline: none;
  background: transparent;
  border: 2px solid #8b5cf6;
  border-radius: 15px;
}
.appointments-list {
  width: 100%;
  margin-left: none;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .appointments-list {
    display: flex;
    flex-wrap: wrap;
  }
}
